
  #container {
    margin: 0 auto;
   }
    
   nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    } 
   nav ul li {
    display:inline-block;
    background-color: grey;
    }
   nav a {
    display:block;
    padding:0 10px; 
    color:white;
    font-size:20px;
    line-height: 60px;
    text-decoration:none;
   }
   nav a:hover {
    background-color: rgb(45, 216, 29); 
   }
   nav ul ul {
    display: none;
    position: absolute; 
    top: 60px; 
   } 
   nav ul li:hover > ul {
    display:inherit;
   } 
   nav ul ul li {
    width:250px;
    float:none;
    display:list-item;
    position: relative;
   }
   nav ul ul ul li {
    position: relative;
    top: -60px;
    left:245px;
   }
   nav ul ul li {
    border: 1px solid white;
   } 